<!-- Custom social icons -->
<div class="custom-social-icons" style="margin-top: 10px; text-align: center;">
  <a href="https://github.com/purvi9399" target="_blank" aria-label="GitHub" style="margin: 0 10px;">
    <i class="fab fa-github fa-lg"></i>
  </a>
  <a href="mailto:purvijjain@gmail.com" target="_blank" aria-label="Email" style="margin: 0 10px;">
    <i class="fas fa-envelope fa-lg"></i>
  </a>
  <a href="https://www.linkedin.com/in/purvi-jain7" target="_blank" aria-label="LinkedIn" style="margin: 0 10px;">
    <i class="fab fa-linkedin fa-lg"></i>
  </a>
  <a href="https://www.youtube.com/@unitedbyfascinationforlearning" target="_blank" aria-label="YouTube" style="margin: 0 10px;">
    <i class="fab fa-youtube fa-lg"></i>
  </a>
  <a href="https://medium.com/@passionatepurvi07" target="_blank" aria-label="Medium" style="margin: 0 10px;">
    <i class="fab fa-medium fa-lg"></i>
  </a>
</div>
